.collapse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.collapse-component {
  width: 70%;
  margin: 0 auto;

  .collapse-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    padding: 10px;
    border-radius: 5px;
    
    span {
      font-weight: bold;
    }

    .arrow-container {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .arrow {
      width: 10px;
      height: 10px;
      border-right: 2px solid white;
      border-top: 2px solid white;
      transform: rotate(-45deg); 
      transition: transform 0.3s ease;
    }

    .open {
      transform: rotate(135deg); 
    }
  }

  .collapse-content {
    text-align: left;
    padding: 10px;
    background-color: #F6F6F6;
    border-top: none;
    border-radius: 0 0 5px 5px; 
  }

  @media (max-width: 768px) {
    width: 90%; 
  }
}