
.footer {
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 20px;
  
    .logo_footer {
      margin-bottom: 20px; 
    }
  
    .text {
      font-size: 1rem; 
    }
  }
  