.footer {
  background-color: black; 
  color: white; 
  text-align: center; 
  padding: 20px;

  .logo_footer {
    margin-bottom: 20px; 
  }

  .line-break {
    display: none;
  }

  @media (min-width: 400px) and (max-width: 768px) {
    .line-break {
      display: inline;
    }
  }
}
