header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-header {
    margin: 20px 0 0 70px; 
  }

nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin-right: 70px;
      display: flex;

      li {
        margin-left: 40px; 
       

        &:first-child {
          margin-left: 0;
        }

        a, span {
          text-decoration: none;

          &.active {
            color: black;
            text-decoration: underline;
            cursor: default;
          }
        }
      }
    }
  }
}
