.erreur {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF6060;
    margin-bottom:50px;
    
    h1 {
        font-size: 200px;
        margin-bottom: 40px;
    }

    h2 { 
        margin-bottom: 60px;
    }

    a { 
        font-size: 15px;
    }
}
    

